body
{
  background: #0C1021;
  margin: 0;
  padding: 0;
  max-width:inherit;
  height: 100%;
}
html, form, .CodeMirror, .CodeMirror-scroll
{
  height: 100%;        
}
.btn{
    margin-top:20px;
    margin-left:10px;  
}
h1 {
	color: green;
	text-align: center;
}
.redfamily {
	color: red;	
}
.search-box,.close-icon,.search-wrapper {
	position: relative;
	padding: 10px;
}

#play{
  margin-left: 10px;
  width: 10%;
  height: 40px;
	border: 1px solid #ccc;
  outline: 0;
  border-radius: 10px;
}
.cont{
  width:100%;
}
#link{
  width:200px;
  margin-left: 10px;
  width: 80%;
  height: 40px;
	border: 1px solid #ccc;
  outline: 0;
  border-radius: 10px;
  margin-top:10px; 
}

